*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: aliceblue; */
}

body{
    background-color: aliceblue;
}

.what{
    text-align: center;
    color: rgb(160, 159, 159);
}

.c1, .c2, .c3, .c4{
    box-shadow: 0 10px 20px rgb(176, 175, 175);
}

.card1 a{
    text-decoration: none;
    color: orange;
    transition: 0.5s;
}

.card1 a:hover{
    color: black;
    text-decoration: underline;
}

.card2 a{
    text-decoration: none;
    color: rgb(203, 6, 6);
    transition: 0.5s;
}

.card2 a:hover{
    color: black;
    text-decoration: underline;
}

.card3 a{
    text-decoration: none;
    color: green;
    transition: 0.5s;
}

.card3 a:hover{
    color: black;
    text-decoration: underline;
}

.card4 a{
    text-decoration: none;
    color: blue;
    transition: 0.5s;
}

.card4 a:hover{
    color: black;
    text-decoration: underline;
}

.strategy{
    color: rgb(160, 159, 159);
}

.btn{
    padding: 15px 15px;
    border-radius: 20px;
    background-color: rgb(50, 132, 105);
    color: white;
    transition: 0.5s;
}

.btn:hover{
    transform: translateY(-10px);
    background-color: rgba(200, 249, 233, 0.59);
    box-shadow: 0 2px 10px rgb(50, 132, 105);
}

.icon{
    font-size: 50px;
}

.col-lg-6 .ca{
    margin-top: 60px;
}

.col-lg-6 .card{
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgb(176, 175, 175);
}

.why{
    color: rgb(160, 159, 159);
}

.team{
    color: rgb(160, 159, 159);
}

.col .bo-ra{
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(126, 126, 126);
}

.bo-ra .icon1{
    text-decoration: none;
    color: skyblue;
}

.bo-ra .icon2{
    text-decoration: none;
    color: darkblue;
}

.bo-ra .icon3{
    text-decoration: none;
    color: lightcoral;
}

.column img{
    border-radius: 50%;
}

.solution{
    color: rgb(160, 159, 159);
}

/* .section{
    clip-path: polygon(0 0, 100% 7%, 100% 100%, 0% 100%);
    background-color: rgba(200, 249, 233, 0.59);
} */

.commu{
    color: rgb(160, 159, 159);
}

.row-cols-2 .col .card{
    box-shadow: 0 2px 10px rgb(104, 104, 104);
}




/* X-Small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
    .forimage{
        width: 10rem;
        display: grid;
        place-items: center;
    }
}

@media (max-width: 576px) {
    .navbar-brand{
        margin-left: 10px;
        margin-right: 10px;
    }
    .ennav{
        margin-left: 10px;
        margin-right: 10px;
    }
    .c1, .c2, .c3, .c4{
        margin: auto;
        margin-bottom: 20px;
    }
    .column{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }
    .forimage{
        width: 20rem;
        display: grid;
        place-items: center;
    }
    .commuc{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .forimage{
        width: 30rem;
        display: grid;
        place-items: center;
    }
    .colw{
        width: 600px;
    }
    .roww{
        width: 600px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .forimage{
        width: 40rem;
        display: grid;
        place-items: center;
    }
    .colw{
        width: 800px;
    }
    .roww{
        width: 800px;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .forimage{
        display: grid;
        place-items: center;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {

}